.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-self: center;
}
.square-container {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid;
    width: 960px;
    height: 960px;
}

.square {
    outline: 1px solid;
    background-color: white;
}
